.LOGO {
  background-color: #000000;
  display: flex;
  color: hsl(208, 100%, 97%);
  font-family: "Stint Ultra Condensed", cursive;
}

#J {
  margin-left: 10vw;

  font-size: 50pt;
}
#I {
  margin-left: -3px;

  font-size: 50pt;
  z-index: 0;
}
#N {
  margin-left: -1.8px;

  font-size: 50pt;
}

#N:hover {
  margin-left: -13.6px;
  transition: 1s;
}
